{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="mt-4 p-4 bg-primary text-bg-grey rounded">
        <h1>Site de Formations au Poil</h1>
        {% if app.user %}
            <h2>Bienvenue {{app.user.pseudo}} !! </h2>
        <p>votre mel pour ce compte est  : {{ app.user.email}}</p>
        {% else %}
            <h2>Bienvenue !!</h2>
            <p>En cours de réalisation ...</p>

        {% endif %}
        <h1>HELLO</h1>
        
    </div>
{% endblock %}
